body {
  padding: 1vh 1vw;
}

.action {
  background: transparent;
  border-radius: 100%;
  cursor: pointer;
  padding: 5px 9px;
}

.action:hover {
  background: #ddd;
}

.before {
  background: rgb(255, 226, 226);
}

.today {
  background: rgb(255, 255, 205);
}